*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}



#menu{
    border: 5px solid #f0f0f0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-width: 500px;
    height: 550px;
    background-color: #08b4f3;
}

#foto{
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 100%;
}

#author{
    color: white;
    font-size: 20px;
    margin-bottom: 2rem;
}

#inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#inputs h3{
    color: black;
    
}

#pokeNome{
    padding: 3px;
    border-radius: 10px;
    border: none;
}

#Titulo{
    font-weight: bolder;
    text-decoration: underline;
}

#nome{
    font-size: 50px;
}

#procurar{
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font: bold;
    padding: 5px;
    border-radius: 5px;
}

#procurar:hover{
    background-color: rgb(25, 3, 3);
    color: white;
    cursor: pointer;
}

#carregando{
    color: red;
    background-color: red; 
    border-radius: 10px;
}


.loading{
    background-color: red;
}

.hide{
    display: none;
}

#numero{
    font-size: 40px;
}